
<style>

    html, body {
        overflow-y: hidden;
        margin: 0;
        font-family: sans-serif;
        font-size: 0.8rem;
        color: #a1a1a1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notification {
        text-align: center;
    }

    .notification a {
        text-decoration: none;
    }

</style>

<input type="hidden" id="client-zone-customization">

<div class="notification">
    This page has being altered by the <a href="https://github.com/ucrm-plugins/client-zone-customization">Client Zone Customization</a> plugin.
</div>